#landing-page-container {
    background: linear-gradient(to bottom, rgb(23, 23, 29), rgb(5, 5, 6));
    width: 100vw;
    height: 100vh;
    background-size: 150% 150%;
    position: relative;
    padding: 3%;
    animation: gradientAnimation 5s infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

#landing-page-main {
    position: absolute;
    top: 18vh;
    left: 3vw;
    width: 33%;
    height: 66%;
}

#title {
    font-size: 3rem;
    padding-left: 12vw;
    margin-bottom: 66px;
}

#configuration-container {
    padding-left: 12vw;
    font-size: 1.5rem;
    line-height: 70px;
}

#total-price {
    margin-left: 12vw;
    font-size: 1.5rem;
    background-color: black;
    width: 300px;
    text-align: justify;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
}

#qr {
    position: absolute;
    bottom: 0;
    right: 0;
}

#qr h3 {
    text-align: end;
    margin-bottom: 10px;
}

#landing-page-nav {
    position: fixed;
    top: 3%;
    left: 0;
    width: 100vw;
    height: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#landing-page-nav img {
    width: 150px;
    height: auto;
    margin-left: 3%;
}
#landing-page-nav img:hover {
    cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}