.canvas-container {
    position: absolute;
    top: 0;
    right: 3%;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-inner-container {
    width: 100%;
    height: 66%;
    background: linear-gradient(to bottom, rgb(5, 5, 6), rgb(11, 3, 14));
    background-size: 150% 150%;
    animation: gradientAnimation 5s infinite alternate;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

#canvas-stats {
    position: absolute;
    right: 0;
    text-align: end;
    font-size: 0.9rem;
}

#canvas-stats h3 {
    margin-bottom: 6px;
}

#canvas-stats-list {
    list-style: none;
}

#canvas-stats-list li {
    margin-bottom: 3px;
}

/* Small devices (portrait phones, less than 600px) */
@media only screen and (max-width: 767px) {
    .canvas-container {
        top: 80px;
        right: 0;
        width: 100vw;
        height: 50vh;
    }

    .canvas-inner-container {
        background: transparent;
        height: 100%;
    }

    #canvas-stats {
        right: 3%;
        font-size: 0.7rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .canvas-inner-container {
        background: transparent;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .canvas-inner-container {
        background: transparent;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .canvas-inner-container {
        background: linear-gradient(to bottom, rgb(5, 5, 6), rgb(11, 3, 14));
        background-size: 150% 150%;
        animation: gradientAnimation 5s infinite alternate;
    }
}