#title-container {
    width: 33vw;
    height: fit-content;
    padding: 100px 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}