:root {
    --color-primary: rgb(144, 66, 222);
    --color-primary-white: rgb(240, 235, 228);
    --color-secondary: rgb(21, 57, 30);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    color: var(--color-primary-white);
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) {

    body {
        overflow-y: auto;
    }
}